.bgImageZoom {
  transform: scale(2.9); /* More zoom on mobile screens */
  transition: transform 0.3s ease; /* Smooth transition when resizing */
}

/* Medium screens */
@media (min-width: 768px) {
  .bgImageZoom {
    transform: scale(1.2); 
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .bgImageZoom {
    transform: scale(1); 
  }
}

/* Extra large screens */
@media (min-width: 1280px) {
  .bgImageZoom {
    transform: scale(1); 
  }
}